<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Kafka name="Kafka" topic="formatted-data-message-test">
            <LogstashLayout dateTimeFormatPattern="yyyy-MM-dd'T'HH:mm:ss.SSSZZZ"
                            templateUri="classpath:LogstashTestLayout.json"
                            prettyPrintEnabled="false"
                            stackTraceEnabled="true"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </Kafka>
        <Async name="Async">
            <AppenderRef ref="Kafka"/>
        </Async>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <RFC5424Layout appName="faceplate-api-test"
                           mdcId="mdc"
                           facility="LOCAL0"
                           enterpriseNumber="15749"
                           newLine="true"
                           exceptionPattern="%throwable{full}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Kafka"/>
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="org.apache.kafka" level="WARN" />
    </Loggers>
</Configuration>
